<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Q: What is a capstone project?</h2>
<h5>A: A capstone project is a comprehensive and often interdisciplinary project that serves as a culminating experience at the end of a student's academic program. It typically involves research, analysis, and the development of a final product or presentation.</h5>
<h2>Q: What types of capstone projects are included in the app?</h2>
<h5>A: As of now, the app includes a variety of capstone projects from different academic disciplines. Some examples of capstone projects that are currently included in the app are STEM abstracts with 3 classifications, mobile app development projects, website design and development projects, prototype development projects, and ABM (Accountancy, Business, and Management) feasibility study projects. Users can filter projects by discipline or search for specific keywords to find projects that align with their interests.</h5>
<h2>Q: Can I submit my own capstone project to the app?</h2>
<h5>A: At this time, the app does not allow users to submit their own capstone projects. However, we are always looking to expand our collection and may consider user submissions in the future.</h5>
<h2>Q: Is the app free to use?</h2>
<h5>A: Yes, the app is completely free to download and use.</h5>
</ion-content>