<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
    <ion-button class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The ECapstone Library Mobile Application is a user-friendly and intuitive app that provides a digital platform for users to access the vast collection of Research Capstone Project resources on their mobile devices. The app is designed to cater to the needs of students, educators, and librarians by offering quick and easy access to digital resources.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Overall, the ECapstone Library Mobile Application is a valuable tool for students, educators, and librarians, providing them with quick and easy access to an extensive collection of digital resources. The app is available for download on both Android and iOS devices, making it accessible to a broad range of users.</h4>
</ion-content>