ion-col {
    --ion-grid-column-padding: 0.2rem;
    width: 48%;
  }

  ion-button{
    margin: 0 5px;
  }

  ion-row.justify-content-center {
    display: flex;

  }

  .ion-margin {
    margin: 0 6px;
  }