<ion-header>
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="justify-content-center">
      <ion-col size="4" *ngFor="let item of library">
        <ion-card class="ion-margin" (click)="openFile(item.file)">
          <ion-img src="{{item.imageUrl}}" style="object-fit: cover;"></ion-img>
          <ion-card-subtitle>{{ item.subtitle }}</ion-card-subtitle>
          <ion-buttons>
            <ion-button class="read-button" (click)="openFile(item.file)">
              <ion-icon name="book"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>